@mixin flex($align: center, $justify: center) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

@mixin border($color: black, $size: 2px) {
	border: $size solid $color;
}

%form-reset {
	display: block;
	margin: auto;
}

%background {
	position: fixed;
	top: 80px;
	left: 0;
	height: calc(100% - 80px);
	width: 100%;
	overflow: auto;
	padding: 50px 15px;
	background: #f0f0f0;
}

%scrollbar {
	// firefox scrollbar
	scrollbar-color: #e8e8e8 #fff !important;
	scrollbar-width: thin;

	& > * {
		white-space: pre-wrap;
		overflow-wrap: break-word;
	}

	/* Non firefox */
	&::-webkit-scrollbar {
		width: 0.1rem;
		margin-left: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background: #e8e8e8;
	}
}

$border: 2px solid black;

/* Colors */
$blue: #0956ea;
$light-gray: #7f7f7f;
$light: #f5f5f5;
$dark: #121212;

/* Fonts */
$main-font: "Nunito", sans-serif;

/* Font sizes */
$smallest: 14px;
$smaller: 16px;
$small: 18px;
$mid: 20px;
$big: 25px;

/* Font weights */
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;

/* Border radius */
$little-radius: 8px;
$basic-radius: 16px;
