* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.6;
}

body {
	height: 100vh;
	width: 100%;
	position: absolute;
	font-family: "Nunito", sans-serif;
}
input,
button,
textarea {
	outline: none;
	border: none;
	background: none;
}

button {
	cursor: pointer;
}

textarea {
	resize: none;
	line-height: 1.5;
	min-height: 5em;
	max-height: 50vh;
	width: 100%;
}
